@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variáveis globais */
:root {
    --cor-primaria: #1ed760;
    --cor-secundaria: #4d4d4d;
    --cor-terciaria: #242424;
    --cor-preto: #121212;
    --cor-branco: #ffffff;
    --fonte-primaria: "Inter", Arial, sans-serif;
}

.container {
    height: calc(100vh - 75px);
}

.container .row {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 75px;
}

.container .row h2 {
    font-weight: 900;
    font-size: 40px;
}

.container .row p {
    padding-top: 20px;
    font-weight: 200;
}

.container .formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .formDiv h3 {
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: start;
}

.container .formDiv .contentBox {
    padding: 5px 10px;
    border-radius: 28px;
    background: #242424;
    transition: background 0.25s;
    margin-bottom: 15px;
}

.container .formDiv .contentBox .contentInput {
    font-size: 16px;
    font-weight: 300;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    color: var(--cor-primaria);
    transition: 0.3s ease;
}

.container .formDiv .contentBox .contentInput::placeholder {
    color: var(--cor-secundaria);
}

.container .formDiv button {
    color: white;
    background-color: #121212;
    border-color: #1ed760;
    width: 125px;
    height: 40px;
    border-radius: 500px;
    transition: 0.25s;
    font-weight: 800;
    font-size: 12.5px;
}

.container .formDiv button:hover {
    color: #1ed760;
    transition: 0.3s ease;
}


.infoSubmit {
    color: var(--cor-secundaria) !important; 
    transition: 0.3s ease;
}

/* Media Queries */
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 22px;
    }
}