@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variáveis globais */
:root {
    --cor-primaria: #1ed760;
    --cor-secundaria: #4d4d4d;
    --cor-terciaria: #242424;
    --cor-preto: #121212;
    --cor-branco: #ffffff;
    --fonte-primaria: "Inter", Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .contentBox {
    padding: 5px 10px;
    border-radius: 28px;
    background: #242424;
    transition: background 0.25s;
    margin-bottom: 15px;
}

form .contentBox .contentInput {
    font-size: 16px;
    font-weight: 300;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    min-width: 350px;
    color: var(--cor-primaria);
    transition: 0.3s ease;
}

form .contentBox .contentInput::placeholder {
    color: var(--cor-secundaria);
}

button {
    color: white;
    background-color: #121212;
    border-color: #1ed760;
    width: 125px;
    height: 40px;
    border-radius: 500px;
    transition: 0.25s;
    font-weight: 800;
    font-size: 12.5px;
}

button:hover {
    color: #1ed760;
    transition: 0.3s ease;
}

.infoSubmit {
    color: var(--cor-secundaria) !important; 
    transition: 0.3s ease;
}
