@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variáveis globais */
:root {
    --cor-primaria: #1ed760;
    --cor-secundaria: #4d4d4d;
    --cor-terciaria: #242424;
    --cor-preto: #121212;
    --cor-branco: #ffffff;
    --fonte-primaria: "Inter", Arial, sans-serif;
}

.container {
    height: calc(100vh - 75px);
    align-content: center;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 75px;
}

.row h2 {
    font-weight: 900;
    font-size: 40px;
}

.row p {
    padding-top: 20px;
    font-weight: 200;
}

.modal

.container2 {
    background-color: red;
}

.container3 {
    height: 33vh;
    background-color: white;
}

.container4 {
    height: 33vh;
    background-color: blue;
}